<!DOCTYPE html >
<html lang="en" ng-app="musicapp" >
<head >
	<title >Albums</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Albums
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="musicController" >

	<div class="row" >
		<div class="col-md-12" >
			<form class="form-inline well well-sm" >
				<span class="glyphicon glyphicon-search" ></span >

				<div class="form-group" >
					<input type="text"
					       class="form-control"
					       id="name"
					       ng-model="search"
					       placeholder="Search name..."
							/>
				</div >

			</form >
		</div >
	</div >


	<div class="row" >
		<div class="col-md-8" >

			   <div class= "container">

                 <div class="album" ng-repeat="album in filteredAlbums = (albums | filter:sensitiveSearch | orderBy:order)" ng-click="selectAlbum(album)" >
                        <div class="content">
                         <img src="{{album.thumb}}"/>
                         <input class="update" type="button" value="{{album.title}}"/>
                        </div>

                  </div>
                  <div style="width:50%" ng-show="filteredAlbums.length == 0 ">
                       
                     <div class="alert alert-info">
							<p class="text-center" >
								No results found for search term '{{ search }}'
							</p >
						</div >
    
                  </div>

              </div>

	    </div >
		<div class="col-md-4" >

			<div class="panel panel-default" >
				<div class="panel-heading" >Details</div >
				<div class="panel-body" >

					<dl >
						
						<dt >Music Director</dt >
						<dd >{{selectedAlbum.musicDirector}}</dd >
						<dt >Year</dt >
						<dd >{{selectedAlbum.year}}</dd >
						<dt >Desciption</dt >
						<dd >{{selectedAlbum.description}}</dd >
					</dl >

				</div >
			</div >

		</div >
	</div >


</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >
</body >
</html >
